extends layout

block content  
  .row
    .col-sm-8
      .tab-bar-warpper
        .row
          .col-sm-6
            h4.pull-left Top Questions
            p.filter-title Filter difficulty level
            ul.pull-left.list-inline.filter-bar
              li
                a(href=(tab) ? './?filter=&tab='+tab : './?filter=' 
                  class=(!filter) ? 'active' : undefined) no filter 
              li 
                a(href=(tab) ? './?filter=easy&tab='+tab : './?filter=easy' 
                  class=(filter == 'easy') ? 'active' : undefined) easy
              li 
                a(href=(tab) ? './?filter=normal&tab='+tab : './?filter=normal' 
                  class=(filter == 'normal') ? 'active' : undefined) normal
              li 
                a(href=(tab) ? './?filter=hard&tab='+tab : './?filter=hard'
                  class=(filter == 'hard') ? 'active' : undefined) hard
          .col-sm-6
            ul.pull-right.list-inline.tab-bar
              li
                a(href=(filter) ? './?filter='+filter+'&tab=activity' : './?tab=activity' 
                  class=(tab == 'activity') ? 'active' : undefined) activity 
              li
                a(href=(filter) ? './?filter='+filter+'&tab=creation' : './?tab=creation' 
                  class=(tab == 'creation') ? 'active' : undefined) creation 
              li
                a(href=(filter) ? './?filter='+filter+'&tab=hot' : './?tab=hot' 
                  class=(tab == 'hot') ? 'active' : undefined
                  title="Questions with the most views, answers, and votes over the last few days") hot
              li
                a(href=(filter) ? './?filter='+filter+'&tab=week' : './?tab=week' 
                  class=(tab == 'week') ? 'active' : undefined
                  title="Questions with the most views, answers, and votes this week") week 
              li
                a(href=(filter) ? './?filter='+filter+'&tab=month' : './?tab=month'
                  class=(tab == 'month') ? 'active' : undefined
                  title="Questions with the most views, answers, and votes this month") month

      each question in questions
        include question-card
        
    .col-sm-4
      include sidebar