extends layout

block content  
  .row
    .col-sm-8
      .tab-bar-warpper
        .row
          .col-sm-5
            h4 Top Questions
          .col-sm-7
            ul.pull-right.list-inline.tab-bar
              li
                a(href='./?tab=activity' class=(tab == 'activity') ? 'active' : undefined) activity 
              li
                a(href='./?tab=creation' class=(tab == 'creation') ? 'active' : undefined) creation 
              li
                a(href='./?tab=hot' class=(tab == 'hot') ? 'active' : undefined) hot
              li
                a(href='./?tab=week' class=(tab == 'week') ? 'active' : undefined) week 
              li
                a(href='./?tab=month' class=(tab == 'month') ? 'active' : undefined) month

      each question in questions
        .q-card
          .row
            .col-sm-3
              .row
                .col-sm-4.text-center 
                  p.digit #{question.score}
                  if question.score > 1
                    p.txtCount votes
                  else
                    p.txtCount vote                    
                .col-sm-4.text-center(class=(question.is_answered) ? 'accepted' : (question.answer_count > 1) ? 'answered' : undefined)
                  p.digit #{question.answer_count}
                  if question.answer_count > 1
                    p.txtCount answers
                  else
                    p.txtCount answer
                .col-sm-4.text-center
                  p.digit #{question.view_count}
                  if question.view_count > 1
                    p.txtCount views
                  else
                    p.txtCount view
                
            .col-sm-9
              // title      
              .row
                .col-sm-8
                  a.question-title(href=(question.link) target='_blank') #{question.title}
                .col-sm-4.text-right
                  .score-warpper
                    p.diff-sc #{question.difScore}
                    p.diff-sub Score
                  .lv-box
                    p.text-lv #{question.difLv}
                    p.sub-lv DIFFICULTY LEVEL

              // des
              p.body-markdown #{question.body_markdown}

              .row
                // tags 
                .col-sm-8
                  each tag in question.tags
                    span.tag #{tag}
                .col-sm-4.text-right
                  span.last-active last activity #{question.timeAgo}
        
    .col-sm-4
      .ask-question-box
        a(href='http://stackoverflow.com/questions/ask' class='ask-question-btn' target='_blank') Ask Question

      ul
        li 
          a(href="./?filter=easy") easy
        li 
          a(href="./?filter=normal") normal
        li 
          a(href="./?filter=hard") hard

      h3 Search
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label(for="inputEmail3") Email
            .col-sm-10
              input.form-control(type="email" id="inputEmail3" placeholder="Email")
      p
        a.btn.btn-primary(href='#', role='button') Search »