extends layout

block content
  h2 PoC : Classification Questions
  hr
  .row
    .col-sm-3
      p 
        b Level
      p
        - for (var i = 0; i < rows.length ; i++)
            if difficuty[i] == 'Easy'
              span 1, 
            else if difficuty[i] == 'Normal'
              span 2, 
            else 
              span 3, 
      p 
        b Score
      p
        - for (var i = 0; i < rows.length ; i++) 
            span #{finalLinearScope[rows[i].Id]}, 
          
    .col-sm-9
      - for (var i = 0; i < rows.length ; i++) 
        .box
          h3 #{i+1}. #{rows[i].Title} 
          p Title (Removed stop word) : 
            - for (var j = 0; j < kwTitle[rows[i].Id].length ; j++)
              span.label.label-info #{kwTitle[rows[i].Id][j]}
              span &nbsp;
          p Tags : 
            - for (var j = 0; j < tags[rows[i].Id].length ; j++)
              span.label.label-primary #{tags[rows[i].Id][j]} 
              span &nbsp;  

          //- p 
          //-   b Exp : 
          //-   b.score #{finalScope[rows[i].Id]} (#{scope[rows[i].Id]})

          p 
            b Point: 
            b.score #{finalLinearScope[rows[i].Id]} (#{scope[rows[i].Id]})

          p
            b Estimate diff: 
            b.difficulty #{difficuty[i]}
          
          p 
            b Body Content : 
            - for (var j = 0; j < bodyContent[rows[i].Id].length ; j++)
              span.label.label-default #{bodyContent[rows[i].Id][j]}
              span &nbsp; 

          p 
            b Body Code : 
            - for (var j = 0; j < bodyCode[rows[i].Id].length ; j++)
              span.label.label-warning #{bodyCode[rows[i].Id][j]}
              span &nbsp; 

          //- p 
          //-   b Body : 
          //-   span #{bodyFull[rows[i].Id]}
          
          h5 Features
          hr
          p Focus : 
            b #{focusScore[rows[i].Id]}

          p Ratio Success Answered : 
            b #{ratioSuccessAnsweredScore[rows[i].Id]}

          p #{rows[i].CreationDate} 
          p
            a.btn.btn-default(href='http://stackoverflow.com/questions/'+rows[i].Id, target='_blank', role='button') View details »
          