extends layout

block content  
  .row
    .col-sm-8
      .tab-bar-warpper
        .row
          .col-sm-6
            h4.pull-left Search result
          .col-sm-6
            ul.pull-right.list-inline.tab-bar
              li
                a(href='./search?sort=relevance' + paramsConfig 
                  class=(form.sort == 'relevance') ? 'active' : undefined
                  title="Search results with best match to search terms") relevance 
              li
                a(href='./search?sort=creation' + paramsConfig
                  class=(form.sort == 'creation') ? 'active' : undefined
                  title="Newest search results") newest 
              li
                a(href='./search?sort=votes' + paramsConfig  
                  class=(form.sort == 'votes') ? 'active' : undefined
                  title="Highest voted search results") votes
              li
                a(href='./search?sort=activity' + paramsConfig  
                  class=(form.sort == 'activity') ? 'active' : undefined
                  title="Recently active search results") active 
        
      each question in questions
        include question-card
      
      if noResult
        p Your search returned no matches
              
    .col-sm-4
      include sidebar