extends layout

block content  
  .row
    .col-sm-8
      .tab-bar-warpper
        .row
          .col-sm-6
            h4.pull-left Search result
          .col-sm-6
            ul.pull-right.list-inline.tab-bar
              li
                a(href=(filter) ? './?filter='+filter+'&sort=relevance' : './?sort=relevance' 
                  class=(sort == 'relevance') ? 'active' : undefined
                  title="Search results with best match to search terms") relevance 
              li
                a(href=(filter) ? './?filter='+filter+'&sort=creation' : './?sort=creation' 
                  class=(sort == 'creation') ? 'active' : undefined
                  title="Newest search results") newest 
              li
                a(href=(filter) ? './?filter='+filter+'&sort=votes' : './?sort=votes' 
                  class=(sort == 'votes') ? 'active' : undefined
                  title="Highest voted search results") votes
              li
                a(href=(filter) ? './?filter='+filter+'&sort=activity' : './?sort=activity' 
                  class=(sort == 'activity') ? 'active' : undefined
                  title="Recently active search results") active 
        
      p #{query} 
      p #{form.q} #{form.order}
    .col-sm-4
      include sidebar