.ask-question-box
  a(href='http://stackoverflow.com/questions/ask' class='ask-question-btn' target='_blank') Ask Question

  .search-form-warpper
    h3.search-title Search
    form.form-horizontal.search-form(method="GET" action="./search")
      .form-group
        label.col-sm-3.control-label Word
        .col-sm-9 
          input.form-control(name="q" value=form.q placeholder="Enter word search")
          span.desc text will match all question properties
      .form-group
        label.col-sm-3.control-label Order by
        .col-sm-9
          select.form-control(name="order")
            option(value='desc' selected=(form.order == 'desc')) DESC
            option(value='asc' selected=(form.order == 'asc')) ASC
      .form-group
        label.col-sm-3.control-label Title
        .col-sm-9
          input.form-control(name="title" value=form.title placeholder="Enter title search")
      .form-group
        label.col-sm-3.control-label Tagged
        .col-sm-9
          input.form-control(name="tagged" value=form.tagged placeholder="react.js;jQuery;Angular2")
          span.desc a semicolon delimited list of tags
      
      .advance-search
        .form-group
          label.col-sm-3.control-label Not tagged
          .col-sm-9
            input.form-control(name="nottagged" value=form.nottagged placeholder="html;php;java")
            span.desc none of which will be present on questions
        .form-group
          label.col-sm-3.control-label User ID
          .col-sm-9
            input.form-control(name="user" value=form.user placeholder="482001XX")
            span.desc the id of the user who own the questions
        .form-group
          label.col-sm-3.control-label From date
          .col-sm-9
            .input-group
              input.form-control(name="fromdate" id="fromdate" value=form.fromdate)
              span.input-group-addon 
                i.fa.fa-calendar.m-r-0(aria-hidden="true")
        .form-group
          label.col-sm-3.control-label To date
          .col-sm-9
            .input-group
              input.form-control(name="todate" id="todate" value=form.todate)
              span.input-group-addon 
                i.fa.fa-calendar.m-r-0(aria-hidden="true")
        .form-group
          label.col-sm-3.control-label Body
          .col-sm-9
            input.form-control(name="body" value=form.body placeholder="Enter body search")
            span.desc text which must appear in questions' bodies
        .form-group
          label.col-sm-3.control-label Min views
          .col-sm-9
            input.form-control(name="views" value=form.views placeholder="10")
            span.desc the minimum number of views
        .form-group
          label.col-sm-3.control-label Accepted answer
          .col-sm-9
            select.form-control(name="accepted")
              option(value='') 
              option(value='True' selected=(form.accepted == 'True')) True
              option(value='False' selected=(form.accepted == 'False')) False
            span.desc only questions with accepted answers
        .form-group
          label.col-sm-3.control-label Min answers
          .col-sm-9
            input.form-control(name="answers" value=form.answers placeholder="1")
            span.desc the minimum number of answers
      p.pull-left
        a(href="javascipt:viod(0)" id="advanced-search-btn") Advanced Search 
      p.text-right
        button.btn.btn-pink(name="submit") Search